@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800|Ubuntu:400,500,700&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  margin-bottom: 10em;
}

.hero--left {
  padding: 3em;
  padding-left: 8em;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero--right {
  width: 50%;
}

.nav {
  grid-area: navbar;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  margin-left: 2em;
}

.nav li {
  list-style: none;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #a3a3a3;
  font-size: 1rem;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  cursor: pointer;
}

.nav li:hover {
  color: black;
}

.main {
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
}

.main__title-container h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  color: #171f41;
  font-weight: 700;
  line-height: 1.3;
}

.main__subtitle-container p {
  font-family: "Ubuntu", sans-serif;
  color: #6d6c6c;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5;
}

.main__cta-container .btn {
  border: 2px solid black;
  color: black;
  padding: 14px 28px;
  margin-top: 2em;
  margin-right: 3em;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

.main__cta-container .btn--blue {
  border-color: dodgerblue;
  background-color: dodgerblue;
  color: white;
}

.main__cta-container .btn--blue:hover {
  border-color: #13599e;
  background-color: #13599e;
}

.main__cta-container .btn--outline-blue {
  background-color: white;
  border-color: #2196f3;
  color: dodgerblue;
}

.main__cta-container .btn--outline-blue:hover {
  background: #2196f3;
  color: white;
}

.hero__image {
  width: 100%;
}

.features__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #3b3b3b;
}

.features__card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5em 8em;
}

.features__card-container .features__card {
  width: 100%;
}

.features__card-container .card__image {
  float: left;
  padding: 0 1.5em 0 0;
}

.features__card-container .card__title {
  margin: 0.4em 0;
  font-family: "Montserrat", sans-serif;
  color: #3b3b3b;
  font-size: 1.1rem;
}

.features__card-container .card__text {
  font-family: "Montserrat", sans-serif;
  color: #3b3b3b;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.5;
}
/*# sourceMappingURL=style.css.map */